.header-nav ul {
  margin-left: 50px;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.header-nav span a {
  color: gray;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-nav span :hover {
  color: var(--primary);
  font-weight: bold;
}

.header-nav span svg{
  color: gray;
  
}



