.search-bar{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.search-form{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .search-bar{
    padding: 0 20px;
    gap: 10px;

}
.header .search-form{
    width: 80%;
}
.header .search-form input{
    border: none;
    font-size: 14px;
    background-color: #dddddd;
    padding: 7px 38px 7px 35px;
    border-radius: 30px;
    transition: 0.3s;
    width: 100%;

}
.header .search-form button{
    border: none;
    border-radius: 30px;
    color: white;
    padding: 8px 20px;
    background-color: var(--primary);
    white-space: nowrap;
    cursor: pointer;
}

.header .search-form svg{
    position: absolute;
    width: 34px;
    padding: 5px;

}

.header .search-bar svg{
    color: gray;
    cursor: pointer;
}

.header .search-bar svg:hover{
    color: #8c1ae8;
}



